body {
  font-family: roboto;
  color: #fff;
  background-color: #000;
  background-image: linear-gradient(to right, #000000, #281800 50%, #5d3800 85%);
}
#container-fluid {
  width: 95%;
}
p {
  line-height: 20px;
}
header {
  width: 95%;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}
h3 {
  font-size: .8em;
}
/*css header*/
.contenu {
  width: 95%%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*css input*/
}
.contenu img {
  width: 70%;
}
.contenu #recherche {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 95%;
}
.contenu #recherche #inputRecherche {
  height: 20px;
  width: 375px;
  margin: 5px 0;
}
.contenu #recherche label {
  flex: 0 1 20px;
}
.contenu #recherche i {
  padding: 9px 5px;
  color: #ffcd00;
}
.contenu #menuPrincipal {
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  overflow: hidden;
  transition-property: width,transform;
  transition-duration: .5s;
  transition-function-timing: ease-in-out;
}
.contenu #menuPrincipal .listNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenu #menuPrincipal .listNav li {
  padding: 8px;
  border: 1px solid #ffcd00;
  border-radius: 5px;
}
.contenu #menuPrincipal .listNav li a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.contenu #menuPrincipal .listNav li a:hover {
  color: #ffcd00;
}
.contenu #menuPrincipal .listNav li i {
  flex: 0 0 30px;
  margin-right: 5px;
  padding-left: 5px;
}
.contenu #menuPrincipal .listNav li span {
  flex: 1 0 20px;
}
.contenu #menuPrincipal .listNav li:hover {
  border: 1px solid #fff;
}
.contenu #menuPrincipal.fermeture {
  width: 430px;
}
/*css main*/
#contenant {
  width: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contenant #entete_contenant {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#contenant #entete_contenant #slide {
  width: 95%;
}
#contenant #entete_contenant h3 {
  color: #ffcd00;
  font-size: .9em;
  margin: 5px 0;
}
#contenant #entete_contenant p {
  font-size: .8em;
  margin-bottom: 10px;
}
#contenant #entete_contenant .anim_ecrire {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  border-radius: 5px;
}
#contenant #entete_contenant .anim_ecrire div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20%;
}
#contenant #entete_contenant .anim_ecrire p {
  margin-top: 10px;
}
#contenant #entete_contenant .anim_ecrire i {
  font-size: .9em;
  margin-right: 7px;
}
#contenant .leProgramme {
  /*css nav session*/
}
#contenant .leProgramme img {
  width: 95%;
  margin: 5px 0;
}
#contenant .leProgramme p {
  font-size: .9em;
  width: 95%;
  margin: 5px 0 10px 0;
}
#contenant .leProgramme h2 {
  font-family: 'Open Sans', sans-serif;
  color: #ffcd00;
  margin: 5px 0;
}
#contenant .leProgramme h3 {
  width: 95%;
  line-height: 120%;
}
#contenant .leProgramme .taille {
  font-size: .8em;
}
#contenant .leProgramme .jaune {
  color: #ffff00;
}
#contenant .leProgramme .orange_ {
  color: #ff8a16;
}
#contenant .leProgramme .mauve {
  color: #a68aff;
}
#contenant .leProgramme .bleu {
  color: #17bcff;
}
#contenant .leProgramme .vert {
  color: #1adc00;
}
#contenant .leProgramme #sessionNav {
  text-decoration: none;
  color: #fff;
}
#contenant .leProgramme #sessionNav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffcd00;
  width: 140px;
  border-radius: 5px;
  margin: 10px 0;
}
#contenant .leProgramme #sessionNav ul .margeMenu {
  display: inline-block;
  padding: 5px;
  position: relative;
  width: 129px;
  border-top: 1px solid #fff;
}
#contenant .leProgramme #sessionNav ul .margeMenu a {
  font-size: .9em;
  color: #fff;
  text-decoration: none;
  margin-left: 35px;
}
#contenant .leProgramme #sessionNav li:nth-child(1) {
  border: none;
}
#contenant .leProgramme #sessionNav ul li ul.sub_menu {
  position: absolute;
  width: 225px;
  top: 10px;
  left: 125px;
  margin: 0;
  padding: 0;
  background-color: #000;
  background-image: linear-gradient(to right, #000000, #281800 50%, #5d3800 85%);
  border-top: 5px solid #ffcd00;
  border-radius: 10px;
  display: none;
  z-index: 999999;
}
#contenant .leProgramme #sessionNav ul li ul.sub_menu li {
  padding: 3px;
}
#contenant .leProgramme #sessionNav ul li ul.sub_menu li a {
  white-space: nowrap;
  width: 150px;
  padding: 12px;
  font-size: .7em;
  color: #fff;
  text-decoration: none;
}
#contenant .leProgramme #sessionNav ul li ul.sub_menu li a span {
  margin-left: 50px;
}
#contenant .leProgramme #sessionNav ul li ul.sub_menu li a:hover {
  color: #ffcd00;
}
/*css footer*/
#piedDePage {
  width: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#piedDePage h2 {
  font-family: 'Open Sans', sans-serif;
  color: #ffcd00;
  text-align: center;
}
#piedDePage #reseauSociaux {
  margin-top: 60px;
  width: 95%;
}
#piedDePage #reseauSociaux ul {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#piedDePage #reseauSociaux ul li {
  margin: 10px 30px;
}
#piedDePage #reseauSociaux ul li a {
  font-size: 2.5em;
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
}
#piedDePage #reseauSociaux ul li a:hover {
  color: #ffcd00;
}
#piedDePage img {
  width: 150px;
  margin: 20px 0;
}
#piedDePage p {
  font-size: .7em;
  margin: 5px 0;
}
