/* For devices bigger than 200px and smaller than 600px */
@media screen and (min-width: 200px) and (max-width: 599px) {
  @keyframes ecrire {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }
  @keyframes clignoter {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  .anim_ecrire p {
    position: relative;
  }
  .anim_ecrire p #anim1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #ffcd00;
    border-left: .1em solid black;
    box-sizing: border-box;
    animation: ecrire 5s steps(30, end), clignoter 0.5s step-end infinite;
  }
  .anim_ecrire p #anim2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #ffcd00;
    border-left: .1em solid black;
    box-sizing: border-box;
    animation: ecrire 6s steps(15, end), clignoter 0.5s step-end infinite;
  }
  .anim_ecrire p #anim3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #ffcd00;
    border-left: .1em solid black;
    box-sizing: border-box;
    animation: ecrire 5s steps(20, end), clignoter 0.5s step-end infinite;
  }
}
/* For devices bigger than 600px and smaller than 1100px */
@media screen and (min-width: 600px) and (max-width: 1099px) {
  @keyframes ecrire {
    from {
      width: 89%;
    }
    to {
      width: 0;
    }
  }
  @keyframes clignoter {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  .anim_ecrire p {
    position: relative;
  }
  .anim_ecrire p #anim1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #ffcd00;
    border-left: .1em solid black;
    box-sizing: border-box;
    animation: ecrire 5s steps(30, end), clignoter 0.5s step-end infinite;
  }
  .anim_ecrire p #anim2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #ffcd00;
    border-left: .1em solid black;
    box-sizing: border-box;
    animation: ecrire 6s steps(15, end), clignoter 0.5s step-end infinite;
  }
  .anim_ecrire p #anim3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #ffcd00;
    border-left: .1em solid black;
    box-sizing: border-box;
    animation: ecrire 5s steps(20, end), clignoter 0.5s step-end infinite;
  }
}
/* For devices bigger than 1100px */
@media screen and (min-width: 1100px) {
  @keyframes ecrire {
    from {
      width: 89%;
    }
    to {
      width: 0;
    }
  }
  @keyframes clignoter {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  .anim_ecrire p {
    position: relative;
  }
  .anim_ecrire p #anim1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #ffcd00;
    border-left: .1em solid black;
    box-sizing: border-box;
    animation: ecrire 5s steps(30, end), clignoter 0.5s step-end infinite;
  }
  .anim_ecrire p #anim2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #ffcd00;
    border-left: .1em solid black;
    box-sizing: border-box;
    animation: ecrire 6s steps(15, end), clignoter 0.5s step-end infinite;
  }
  .anim_ecrire p #anim3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    background-color: #ffcd00;
    border-left: .1em solid black;
    box-sizing: border-box;
    animation: ecrire 5s steps(20, end), clignoter 0.5s step-end infinite;
  }
}
